- if @jobs.length == 0
  %i none
- else
  %table.label_top
    %thead
      %tr
        %th Name
        %th Attempts
        %th Run at
        %th created
        %th updated

    %tbody
      - @jobs.each do |job|
        %tr
          %td= link_to "#{job.name} ##{job.id}", "javascript:open_job('#{delayed_job_dashboard.delayed_job_path(job)}')"
          %td
            = job.attempts
          %td= job.run_at
          %td= job.created_at
          %td= job.updated_at


