- if @jobs.length == 0
  %i none
- else
  %table.label_top
    %thead
      %tr
        %th Priority
        %th Name
        %th Run at
        %th created

    %tbody
      - @jobs.each do |job|
        %tr
          %td= job.priority
          %td= link_to "#{job.name} ##{job.id}", "javascript:open_job('#{delayed_job_dashboard.delayed_job_path(job)}')"
          %td
            = job.run_at
            (
            = time_ago_in_words( job.run_at)
            ago
            )
          %td= job.created_at
