- if @jobs.length == 0
  %i none
- else
  %table.label_top
    %thead
      %tr
        %th Name
        %th Attempts
        %th Age
        %th Locked By
        %th created

    %tbody
      - @jobs.each do |job|
        %tr
          %td= link_to "#{job.name} ##{job.id}", "javascript:open_job('#{delayed_job_dashboard.delayed_job_path(job)}')"
          %td
            = job.attempts
          %td= time_ago_in_words(job.locked_at)
          %td= job.locked_by
          %td= job.created_at

